html 
{
	
	text-align = center;
	background: url (mtn.jpg) no-repeat center center fixed ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-color: maroon;
	background-size: cover;
	font-size: 15px;


}



body {
 	text-align = center;
	font-display = verdana;
	color: white;
	font-size: 15px;
	font-family: verdana;
	font-size: 15px;

}